.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.white{
 color:white;
}
.search-bar {
  display: inline;
}
.stretch {
  width:100%;
}
.contentbox {
  display: flex;
  flex-direction: row;
  width:50%;
}
.game {
  /* width:50%;
  float: left;
  position: absolute;
  align-content: left; */
}
.description{
  background-color: white;
}
.stream {
  position: absolute;
  top:9%;
  left:50%;
  background-color: rgba(255,255,255,1);
  border-radius: 0px 0px 15px 15px;
  padding:15px;
  margin-top:5px;
  z-index: 1;
}
.info {
  width: 650px; height: 400px;overflow-y: auto; overflow-x: hidden;
  position: absolute;
  padding-top: 10px;
  background-color: white;
  z-index: 1;
}
.nextbutton{
  width:650px;
}
.ontop{
  z-index: 2;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bevel {
  /* height: 6000px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) */
}